<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= "Project Hour" + yield(:title) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= fontawesome_stylesheet_link_tag :netdna, force: true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="row collapse">
        <div class="column small-5">
          <nav class="main-nav">
            <ul class="show-for-medium-up inline-list">
              <li class="nav-item white-btn"><a href="#">+ Project</a></li>
              <li class="nav-item"><a href="#">Projecten</a></li>
            </ul>
          </nav>
        </div>
        <div class="column small-2 text-center">
          <div class="align-center"><i class="fa fa-clock-o"></i></div>
        </div>
        <div class="column small-5">
          <nav class="main-nav">
            <ul class="inline-list right">
              <li class="nav-item"><a href="#">Account</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <section class="content-wrapper">
      <%= yield %>
    </section>



  </body>
</html>
