<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= "Project Hour" + yield(:title) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="row">
        <div class="column small-8 medium-5">
          <h2>ProjectHour</h2>
        </div>
        <div class="column small-4 medium-7">
          <ul class="show-for-medium-up inline-list right">
            <li class="button">+ Project</li>
            <li>projecten</li>
          </ul>
        </div>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
